<div class="header m-5">
    <div class="
            scalein 
            animation-duration-2000 
            animation-iteration-infinite 
            flex 
             
            
            font-bold 
            bg-linear 
            text-black-alpha-90 
            border-round 
            mb-5">
        <h1>Proyectos</h1>
    </div>
    <div    *ngFor="let pro of proyectos">
        
        
        <!-- <div class="m-5 row justify-content-center">
            <form class="col-auto p-5 text-center m-5 row justify-content-center rounded border border-dark headerForm text-white">
                <h5 class="header p-2">Editar titulo</h5>
                <input type="text" name="edu.titulo"><br>
                <h5 class="header p-2 mt-5">Editar parrafo</h5>
                <input type="text" name="edu.parrafo">

                <button pButton type="submit" label="Actualizar" class="p-button-primary mt-5"></button>
            </form>
        </div> -->
        <div class="grid flex align-items-center mb-5 text-black-alpha-90">
            <div class="col-10 md:col-8 lg:col-10 mx-5">
                <div>
                    <div class="flex flex-wrap">
                        <div class="flex align-items-center justify-content-center font-bold">
                            <h2>{{pro.nombre}}</h2>
                        </div>
                        <div class="flex align-items-center justify-content-center text-white" style="margin-left: 50px;">
                            <i class="mx-2 pi pi-pencil" style="color:white;"></i>
                            <i class="mx-2 pi pi-trash" style="color:white;"></i>
                        </div>
                    </div>
                </div>
                
                <p> En este proyecto se utilizo la tecnologia de Angular, 
                    TypeScript, bootstrap, y consumimos la api llamada
                    GIPHY Developers

                </p>
                <button pButton>
                    <a  href="{{pro.url}}" 
                        target="_blank"
                        style="text-decoration:none"
                        class="text-black-alpha-90">Click here</a>
                </button> 
            </div>
        </div>
    </div>
</div>