.btn-green {
    background-color: #81C784;
    border-color: #00a65a;
    color: #000;
}

.modal-content {

    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Digital_rain_animation_small_letters_shine.gif");
    border: 2px solid #81C784;
    
}

.input {

    background-color: #81C784;
    color: #000;
}

.botonSesion:hover {

    background-color: #000;
    color: #fff;
    font-weight: bold;
}

img {
    transition: all 1.5s ease;
}

img:hover {
    transform: rotate(90deg);
    transition: all 1.5s;
    cursor: pointer;
}

.texto {
    background: linear-gradient( #fff, rgb(113, 50, 50));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

