<!-- <div class="header m-5">
    <div class="flex justify-content-between align-items-center flex-wrap mb-5">
        <div class="flex align-items-center justify-content-center font-bold">
            <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000"[transitionOptions]="'700ms'" [style]="{background:'rgba(4, 39, 4, 0.897)'}" position="right">

                <div>
                    <p-button (click)="showPositionDialog('top')" icon="pi pi-arrow-down" label="LOGIN"></p-button><br><br>
                    <p-dialog header="Godfather I" 
                              [(visible)]="displayPosition" 
                              [position]="position" 
                              [modal]="true" 
                              [style]="{width: '40vw'}" 
                              [baseZIndex]="10000"
                              [draggable]="false" 
                              [resizable]="false"
                              [transitionOptions]="'700ms'">
                        
                    </p-dialog>
                </div>
                <p-button type="button" label="Register"></p-button>
            </p-sidebar>
            
            <p-button (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>
        </div>
        <div class="flex align-items-center justify-content-center w-4rem h-4rem font-bold text-white border-round mr-3">
            <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1645588080/APLogo-20-20.png" class="logo pt-1" alt="">
        </div>
    </div>
</div> -->
<!-- 
<div class="header m-5">
    <div class="flex justify-content-between align-items-center flex-wrap mb-5">
        <div class="flex align-items-center justify-content-center font-bold">
            <div>
                <p-button (click)="showPositionDialog('top')" label="LOGIN"></p-button>
                <p-dialog header="Godfather I" 
                            [(visible)]="displayPosition" 
                            [position]="position" 
                            [modal]="true" 
                            [style]="{width: '40vw'}" 
                            [baseZIndex]="10000"
                            [draggable]="false" 
                            [resizable]="false"
                            [transitionOptions]="'700ms'">
                </p-dialog>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center w-4rem h-4rem font-bold text-white border-round mr-3">
            <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1645588080/APLogo-20-20.png" class="logo pt-1" alt="">
        </div>
    </div>
</div> -->

<div class="header m-5">
    <div class="flex justify-content-between align-items-center flex-wrap mb-5">
        <div class="flex align-items-center justify-content-center font-bold">
            
            <p-button data-bs-toggle="modal" data-bs-target="#exampleModal" label="LOGIN"></p-button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content text-center">
                        <div class="card text-center modalOscuro text-white">
                            <div class="card-header">
                              LOGIN
                            </div>
                            <div class="card-body">
                            
                                <label style="float:left">Email: </label>
                                <input class="form-control mb-3" type="email" placeholder="Ingrese su email">
                                <label style="float:left">Password: </label>
                                <input class="form-control mb-3" type="password" placeholder="Ingrese su password">

                                <button class="btn btn-primary btn-block mt-3">Ingresar</button>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center w-4rem h-4rem font-bold text-white border-round mr-3">
            <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1645588080/APLogo-20-20.png" class="logo pt-1" alt="">
        </div>
    </div>
</div>

